<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/app/dashboard">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="nutrition-outline"></ion-icon> Programme Nutrition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (recommendation) {
    <ion-card>
      <img src="assets/icons/my-logo-96x96.png" alt="Logo" class="logo-image" />
      <ion-card-header>
        <ion-card-title>{{ recommendation.titre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Description :</strong> {{ recommendation.description }}</p>
        <p><strong>Bienfaits :</strong> {{ recommendation.bienfaits }}</p>

        <ion-button expand="block" color="primary" (click)="goToPlanning()">
          <ion-icon name="eye-outline" slot="start"></ion-icon>
          Voir le planning détaillé
        </ion-button>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
