<ion-content class="ion-padding">
  <div class="login-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Connexion</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              [value]="loginForm.get('email')?.value | lowercase"
              [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            ></ion-input>
          </ion-item>
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <ion-text color="danger">
              <p class="ion-padding-start">L'email est requis et doit être valide.</p>
            </ion-text>
          }

          <ion-item lines="full">
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            ></ion-input>
          </ion-item>
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <ion-text color="danger">
              <p class="ion-padding-start">Le mot de passe doit contenir au moins 6 caractères.</p>
            </ion-text>
          }

          <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="ion-margin-top">
            Se connecter
          </ion-button>

          @if (errorMessage) {
            <ion-text color="danger">
              <p class="ion-text-center ion-margin-top">{{ errorMessage }}</p>
            </ion-text>
          }
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
