<ion-content class="login-page ion-padding">
  <div class="login-wrapper">
    <ion-card class="login-card">
      <!-- LOGO WELLSYNC -->
     <div class="logo-container">
       <img src="assets/icons/my-logo-96x96.png" alt="WellSync Logo" />
     </div>
      <ion-card-header>
        <ion-card-title class="login-title">Bienvenue</ion-card-title>
        <ion-card-subtitle class="login-subtitle">Connecte-toi pour accéder à ton espace</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item lines="inset">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              [value]="loginForm.get('email')?.value | lowercase"
              [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            ></ion-input>
          </ion-item>

          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <ion-text color="danger">
              <p class="error-text">L'email est requis et doit être valide.</p>
            </ion-text>
          }

          <ion-item lines="inset">
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            ></ion-input>
          </ion-item>

          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <ion-text color="danger">
              <p class="error-text">Le mot de passe doit contenir au moins 6 caractères.</p>
            </ion-text>
          }

          <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="submit-btn">
            Se connecter
          </ion-button>

          @if (errorMessage) {
            <ion-text color="danger">
              <p class="ion-text-center error-text">{{ errorMessage }}</p>
            </ion-text>
          }
        </form>
      </ion-card-content>
      <ion-button expand="block" fill="clear" color="medium" routerLink="/app/register" class="create-account-link">
        Pas encore de compte ? Crée un compte
      </ion-button>
    </ion-card>
  </div>
</ion-content>
