<ion-content class="ion-padding">

    <div class="banner">
      <h1>🌿 Bienvenue sur WellSync</h1>
      <p>Votre allié bien-être, intelligent et personnalisé.</p>
  
      <ion-button expand="block" color="success" (click)="commencer()" [disabled]="isLoading">
        {{ isLoading ? 'Connexion...' : 'Commencer sans compte' }}
      </ion-button>
    </div>
  
    <swiper-container [slidesPerView]="1" [loop]="true" [speed]="400" >
      <swiper-slide>
        <img src="assets/slider1.svg" alt="Recommandation" />
        <h2>💡 Recommandations personnalisées</h2>
        <p>Des plats, routines et soins adaptés à vos besoins.</p>
      </swiper-slide>
  
      <swiper-slide>
        <img src="assets/slider2.svg" alt="Diagnostic" />
        <h2>📝 Diagnostic intelligent</h2>
        <p>Un formulaire simple pour comprendre vos priorités.</p>
      </swiper-slide>
  
      <swiper-slide>
        <img src="assets/slider3.svg" alt="Émotions" />
        <h2>😄 Détection émotionnelle</h2>
        <p>Analyse votre humeur pour vous recommander mieux.</p>
      </swiper-slide>
  
      <swiper-slide>
        <img src="assets/slider4.svg" alt="Chat IA" />
        <h2>🤖 Chat IA</h2>
        <p>Un assistant intelligent à votre service 24/7.</p>
      </swiper-slide>
    </swiper-container>
  
  </ion-content>
  