<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title>🧖‍♀️ Diagnostic Soins</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (steps.length) {
    <ion-progress-bar [value]="(currentStep + 1) / steps.length" color="primary" class="ion-margin-vertical"></ion-progress-bar>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (!steps.length) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quel type de soin recherchez-vous ?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Type de soin</ion-label>
            <ion-select formControlName="typeSoin" (ionChange)="onTypeSelected()">
              <ion-select-option value="Soin visage">Soin visage</ion-select-option>
              <ion-select-option value="Massage">Massage</ion-select-option>
              <ion-select-option value="Soin corps">Soin corps</ion-select-option>
              <ion-select-option value="Onglerie">Onglerie</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
    }

    @if (steps.length) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ steps[currentStep].label }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          @if (steps[currentStep].type === 'select') {
            <ion-item>
              <ion-label position="stacked">Choisissez une option</ion-label>
              <ion-select [formControlName]="steps[currentStep].controlName">
                @for (opt of steps[currentStep].options; track opt) {
                  <ion-select-option [value]="opt">{{ opt }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
          }

          @if (steps[currentStep].type === 'radio') {
            <ion-radio-group [formControlName]="steps[currentStep].controlName">
              @for (opt of steps[currentStep].options; track opt) {
                <ion-item>
                  <ion-label>{{ opt }}</ion-label>
                  <ion-radio slot="end" [value]="opt"></ion-radio>
                </ion-item>
              }
            </ion-radio-group>
          }

          @if (steps[currentStep].type === 'checkbox') {
            <ion-item lines="none">
              <ion-label>Choisissez un ou plusieurs</ion-label>
            </ion-item>
            @for (opt of steps[currentStep].options; track opt) {
              <ion-item lines="none">
                <ion-label>{{ opt }}</ion-label>
                <ion-checkbox slot="end"
                              [value]="opt"
                              (ionChange)="onCheckboxChange($event, steps[currentStep].controlName)">
                </ion-checkbox>
              </ion-item>
            }
          }
        </ion-card-content>
      </ion-card>
    }

    @if (steps.length) {
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" fill="outline" (click)="prevStep()" [disabled]="currentStep === 0">Retour</ion-button>
          </ion-col>
          <ion-col size="6">
            @if (currentStep < steps.length - 1) {
              <ion-button expand="block" (click)="nextStep()">Suivant</ion-button>
            } @else {
              <ion-button expand="block" type="submit">Envoyer</ion-button>
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    }
  </form>
</ion-content>