<div class="chat-container">
    <h3>💬 Chat IA - WellSync</h3>
    
    <div class="chat-box">
        @for (message of messages; track message.id) {

            <div>
                <p [ngClass]="{'user-msg': message.sender === 'user', 'bot-msg': message.sender === 'bot'}">
                    <strong>{{ message.sender === 'user' ? 'Vous' : 'IA' }}:</strong> {{ message.text }}
                </p>
            </div>
        }
    </div>

    <input type="text" [(ngModel)]="userMessage" placeholder="Posez une question..." (keyup.enter)="sendMessage()" />
    <button (click)="sendMessage()" [disabled]="isLoading">Envoyer</button>
</div>
