<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/app/home" fill="clear">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>  
      </ion-button>
    </ion-buttons>
    <ion-title>💬 Chat IA - WellSync</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-container">
  <div class="chat-box" #chatBox>
    @for (message of messages; track message.id) {
      <div class="message-wrapper" [ngClass]="message.sender">
        <div class="message-bubble">
          <div class="sender-label">{{ message.sender === 'user' ? 'Vous' : 'Wellsync' }}</div>
          <div class="message-content" [innerHTML]="parseMarkdown(message.text)"></div>
        </div>
      </div>
    }
  </div>

  <div #bottom></div>
  <div class="chat-input-bar">
      <textarea
        [(ngModel)]="userMessage"
        placeholder="Posez votre question ici..."
        (keyup.enter)="onKeyEnter($event)"
        (input)="resizeTextarea($event)"
        rows="1"
      ></textarea>
      <ion-button 
        class="send-floating-button"
        (click)="sendMessage()"
        [disabled]="isLoading || !userMessage.trim()"
      >
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
  </div>
</ion-content>
  